<div>
    <h2 data-translate="safeworkingApp.alarm.home.title">Alarms</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="field_person">Kişi Seçin</label>
                            <select class="form-control" id="field_person" name="person" ng-model="vm.selectedPersonId">
                                <option value="">Tüm Kişiler</option>
                                <option ng-repeat="person in vm.persons" value="{{person.id}}">{{person.name}} {{person.surname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="field_alarmType">Alarm Tipi</label>
                            <select class="form-control" id="field_alarmType" name="alarmType" ng-model="vm.selectedAlarmType">
                                <option value="">Tüm Tipler</option>
                                <option value="LEAVE_POST" data-translate="safeworkingApp.AlarmType.LEAVE_POST">LEAVE_POST</option>
                <option value="FIGHT" data-translate="safeworkingApp.AlarmType.FIGHT">FIGHT</option>
                <option value="ELECTRIC_BIKE_IN_ELEVATOR" data-translate="safeworkingApp.AlarmType.ELECTRIC_BIKE_IN_ELEVATOR">ELECTRIC_BIKE_IN_ELEVATOR</option>
                <option value="EXIT" data-translate="safeworkingApp.AlarmType.EXIT">EXIT</option>
                <option value="PARK" data-translate="safeworkingApp.AlarmType.PARK">PARK</option>
                <option value="RETROGRADE" data-translate="safeworkingApp.AlarmType.RETROGRADE">RETROGRADE</option>
                <option value="PERSON_OVER_QUERYING" data-translate="safeworkingApp.AlarmType.PERSON_OVER_QUERYING">PERSON_OVER_QUERYING</option>
                <option value="PERSON_LESS_QUERYING" data-translate="safeworkingApp.AlarmType.PERSON_LESS_QUERYING">PERSON_LESS_QUERYING</option>
                <option value="GATHERING" data-translate="safeworkingApp.AlarmType.GATHERING">GATHERING</option>
                <option value="SMOKING" data-translate="safeworkingApp.AlarmType.SMOKING">SMOKING</option>
                <option value="RUN" data-translate="safeworkingApp.AlarmType.RUN">RUN</option>
                <option value="CALL" data-translate="safeworkingApp.AlarmType.CALL">CALL</option>
                <option value="FALL" data-translate="safeworkingApp.AlarmType.FALL">FALL</option>
                <option value="WATCH_PHONE" data-translate="safeworkingApp.AlarmType.WATCH_PHONE">WATCH_PHONE</option>
                <option value="SLEEP" data-translate="safeworkingApp.AlarmType.SLEEP">SLEEP</option>
                <option value="HOLDWEAPON" data-translate="safeworkingApp.AlarmType.HOLDWEAPON">HOLDWEAPON</option>
                <option value="COLLISION" data-translate="safeworkingApp.AlarmType.COLLISION">COLLISION</option>
                <option value="INTRUSION" data-translate="safeworkingApp.AlarmType.INTRUSION">INTRUSION</option>
                <option value="TRIPWIRE" data-translate="safeworkingApp.AlarmType.TRIPWIRE">TRIPWIRE</option>
                <option value="OVERWALL" data-translate="safeworkingApp.AlarmType.OVERWALL">OVERWALL</option>
                <option value="CLIMB" data-translate="safeworkingApp.AlarmType.CLIMB">CLIMB</option>
                <option value="WANDER" data-translate="safeworkingApp.AlarmType.WANDER">WANDER</option>
                <option value="MAX_NUMBER_PEOPLE" data-translate="safeworkingApp.AlarmType.MAX_NUMBER_PEOPLE">MAX_NUMBER_PEOPLE</option>
                <option value="CROSS_LINE" data-translate="safeworkingApp.AlarmType.CROSS_LINE">CROSS_LINE</option>
                <option value="SAFETY_CAP" data-translate="safeworkingApp.AlarmType.SAFETY_CAP">SAFETY_CAP</option>
                <option value="SAFETY_UNIFORM" data-translate="safeworkingApp.AlarmType.SAFETY_UNIFORM">SAFETY_UNIFORM</option>
                <option value="SAFETY_BELT" data-translate="safeworkingApp.AlarmType.SAFETY_BELT">SAFETY_BELT</option>
                <option value="REFLECTIVE_VEST" data-translate="safeworkingApp.AlarmType.REFLECTIVE_VEST">REFLECTIVE_VEST</option>
                <option value="RESPIRATOR" data-translate="safeworkingApp.AlarmType.RESPIRATOR">RESPIRATOR</option>
                <option value="FIRE" data-translate="safeworkingApp.AlarmType.FIRE">FIRE</option>
                <option value="SMOKE" data-translate="safeworkingApp.AlarmType.SMOKE">SMOKE</option>
                <option value="OIL_SPILL" data-translate="safeworkingApp.AlarmType.OIL_SPILL">OIL_SPILL</option>
                <option value="FIRE_EQUIPMENT" data-translate="safeworkingApp.AlarmType.FIRE_EQUIPMENT">FIRE_EQUIPMENT</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="field_falseAlarm">Yanlış Alarm</label>
                            <select class="form-control" id="field_falseAlarm" name="falseAlarm" ng-model="vm.selectedFalseAlarm">
                                <option value="">Tümü</option>
                                <option ng-repeat="option in vm.falseAlarmOptions" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="field_processed">İşlem Durumu</label>
                            <select class="form-control" id="field_processed" name="processed" ng-model="vm.selectedProcessed">
                                <option value="">Tümü</option>
                                <option ng-repeat="option in vm.processedOptions" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="field_dateFilter">Tarih Filtresi</label>
                            <select class="form-control" id="field_dateFilter" name="dateFilter" ng-model="vm.selectedDateFilter">
                                <option value="">Tüm Tarihler</option>
                                <option ng-repeat="filter in vm.dateFilters" value="{{filter}}">{{filter.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <button class="btn btn-primary btn-block" ng-click="vm.search()">
                                <span class="glyphicon glyphicon-search"></span>
                                <span>Ara</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <button class="btn btn-primary" ui-sref="alarm.new" ng-hide="true">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span  data-translate="safeworkingApp.alarm.home.createLabel">
                            Create new Alarm
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insertDate"><span data-translate="safeworkingApp.alarm.insertDate">Insert Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="safeworkingApp.alarm.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="backGroundImage"><span data-translate="safeworkingApp.alarm.backGroundImage">Back Ground Image</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                     <th jh-sort-by="imageFile"><span data-translate="safeworkingApp.alarm.imageFile">Image File</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="alarmType"><span data-translate="safeworkingApp.alarm.alarmType">Alarm Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                     <th jh-sort-by="falseAlarm"><span data-translate="safeworkingApp.alarm.falseAlarm">False Alarm</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="person.id"><span data-translate="safeworkingApp.alarm.person">Person</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="processed"><span data-translate="safeworkingApp.alarm.processed">Processed</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                     <th jh-sort-by="note"><span data-translate="safeworkingApp.alarm.note">Note</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="device.id"><span data-translate="safeworkingApp.alarm.device">Device</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="camera.id"><span data-translate="safeworkingApp.alarm.camera">Camera</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alarm in vm.alarms track by alarm.id">
                    <td><a ui-sref="alarm-detail({id:alarm.id})">{{alarm.id}}</a></td>
                    <td>{{alarm.insertDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                    <td>
                        <a ng-if="alarm.image" ng-click="vm.openFile(alarm.imageContentType, alarm.image)">
                            <img data-ng-src="{{'data:' + alarm.imageContentType + ';base64,' + alarm.image}}" style="max-height: 70px;" alt="alarm image"/>
                        </a>
<!--                         <span ng-if="alarm.image">{{alarm.imageContentType}}, {{vm.byteSize(alarm.image)}}</span> -->
                    </td>
                    <td>
                        <a ng-if="alarm.backGroundImage" ng-click="vm.openFile(alarm.backGroundImageContentType, alarm.backGroundImage)">
                            <img data-ng-src="{{'data:' + alarm.backGroundImageContentType + ';base64,' + alarm.backGroundImage}}" style="max-height: 70px;" alt="alarm image"/>
                        </a>
<!--                         <span ng-if="alarm.backGroundImage">{{alarm.backGroundImageContentType}}, {{vm.byteSize(alarm.backGroundImage)}}</span> -->
                    </td>
<!--                     <td>{{alarm.imageFile}}</td> -->
<!--                     <td>{{alarm.alarmType}}</td> -->
                    <td data-translate="{{'safeworkingApp.AlarmType.' + alarm.alarmTypeValue}}">{{alarm.alarmTypeValue}}</td>
<!--                     <td>{{alarm.falseAlarm}}</td> -->
                    <td data-translate="{{'safeworkingApp.alarm.trueFalse.' + alarm.falseAlarm}}">{{alarm.falseAlarm}}</td>
                    <td>
                        <a ui-sref="person-detail({id:alarm.person.id})">{{alarm.person.name}} {{alarm.person.surname}}</a>
                    </td>
<!--                     <td>{{alarm.processed}}</td> -->
                    <td data-translate="{{'safeworkingApp.alarm.trueFalse.' + alarm.falseAlarm}}">{{alarm.processed}}</td>
<!--                     <td>{{alarm.note}}</td> -->
                    <td>
                        <a ui-sref="device-detail({id:alarm.device.id})">{{alarm.device.description}}</a>
                    </td>
                    
                    <td>
                        <a ui-sref="camera-detail({id:alarm.camera.id})">{{alarm.camera.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="alarm-detail({id:alarm.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="alarm.edit({id:alarm.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="alarm.delete({id:alarm.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>

<style>
    .image-modal .modal-content {
        background-color: #f8f9fa;
        border-radius: 8px;
        margin: 0 auto;
    }
    .image-modal .modal-header {
        border-bottom: 1px solid #dee2e6;
        padding: 1rem;
    }
    .image-modal .modal-body {
        padding: 2rem 0;
        overflow: hidden;
    }
    .image-modal .modal-title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 500;
    }
    .image-modal .close {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        transition: opacity .15s linear;
    }
    .image-modal .close:hover {
        color: #000;
        text-decoration: none;
        opacity: .75;
    }
    .image-modal .modal-dialog {
        transition: width 0.3s ease-in-out;
    }
</style>
